<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Musiq!</title>
  </head>
  <body>
      <h1>Welcome aboard, <%= @user.email %></h1>
      <p>Thanks for signing up, and activating your account! If you have any questions please feel free to
        reach out to us and ask! Otherwise, enjoy thye Musiq!</p>
  </body>
</html>
