<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Activated</title>
  </head>
  <body>
    <p>Thank you for activating your account!</p>
    <form class="" action="<%= bands_url %>" method="GET">
      <p>
        <input class="button" type="submit" value="Go Home">
      </p>
    </form>


  </body>
</html>
