<nav class="main-nav">
  <form class="" action="index.html" method="post">
    <p>
      <input class="button" type="submit" value="Go Home">
    </p>
  </form>

  <p>Welcome: <%= current_user.email %></p>
  <form class="" action="index.html" method="post">
    <p>
      <input class="button" type="submit" value="Log Out">
    </p>
  </form>
</nav>
