/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Basic Reset of everythign I usually use */
 html, body, section, article, h1, h2,
 h3, p, nav, main, figure, div, a,
 section, input, label, header, ul, li {
   margin: 0;
   border: 0;
   padding: 0;
   font: inherit;
   text-align: inherit;
   text-decoration: inherit;
   color: inherit;
   background: transparent;
   font-family: 'Varela Round', sans-serif;
   font-size: 30px;
   color: rgb(255, 234, 236);
 }

 body {
   background-color: rgb(23, 29, 76);
 }

 input[type=text],
 input[type=password],
 input[type=number]  {
   border-bottom: solid 2px rgb(25, 196, 145);
   width: 60%;
 }


 .button {
   background-color: rgb(243, 154, 157);
   border-radius: 5px;
   padding: 10px;
   font-size: 20px;
 }

 .error-ul,
 .notice-ul {
   display: flex;
   list-style-type: none;
   padding-top: 20px;
 }

 .error-ul li {
   background-color: rgb(163, 27, 23);
   border-radius: 25px;
   font-size: 15px;
   padding: 10px;
 }

 .notice-ul li {
   background-color: rgb(124, 249, 218);
   border-radius: 25px;
   font-size: 15px;
   padding: 10px;
   color: black;
 }

 /* Main Content Div */
 /* This will sit with in body, holding all my stuff */

 .main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   margin: auto;
   width: 880px;
   min-height: 100vh;
   border-left: solid rgb(25, 196, 145);
   border-right: solid rgb(25, 196, 145);
   background-color: rgb(15, 129, 87);
 }

.display-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

.display-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.display-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(201, 152, 38);
  height: 100px;
  width: 200px;
  border-radius: 5px;
  margin: 20px;
  padding: 30px;
}

 .main-logo {
   color: rgb(109, 177, 191);
   font-family: 'Sonsie One', cursive;
   font-size: 100px;
 }

 .main-nav {
   display: flex;
   margin-top: 30px;
   width: 80%;
   justify-content: space-between;
 }

 .main-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
   width: 80%;
 }

.nav-div {
  display: flex;
  flex-direction: row;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

 .nav-div p {
   display: flex;
   font-size: 20px;
   align-self: flex-end;
   margin-right: 10px;
 }

 .page-header {
   display: flex;
   font-family: 'Sonsie One', cursive;
   color: rgb(185, 108, 110);
   padding: 30px;
   font-size: 35px;
   flex-wrap: wrap;

 }

 .page-sub-header {
   font-family: 'Sonsie One', cursive;
   color: rgb(255, 68, 58);
   padding: 30px;
 }

 /* Below will be less consistent things on various pages */


 /* USERS */

 .user-details-form {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 30px;
 }

 .user-details-form p {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   width: 70%;

 }

 /* ADMIN PAGE */

 .admin-list-item {
   display: flex;
   align-items: center;
   border: 1px solid red;
   padding: 10px;
   width: 80%;
   justify-content: space-around;
 }

 .admin-list-item a {
   display: flex;
   width: 30px;
   height: 20px;
   justify-content: center;
 }

/* BANDS */

.band-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.band-form p {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 70%;
}

/* ALBUMS */

.album-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.album-form p {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 70%;
}

/* TRACKS */

.track-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.track-form p {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 70%;
}

.lyric-display-section {
  display: flex;
  flex-direction: column;
  align-items: center;

}

pre {
  font-size: 10px;
}

/* NOTES */

.note-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.note-form p {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.notes-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

.note-li {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 10px;
  width: 70%;
  align-self: center;
  /* border-bottom: 1px solid black; */
}

.note-li input {
  margin-left: 10px;
}
